body
    // height: 100vh
    background: #FAFAFA
    font-family: Merriweather
    color: #666

// #viewport
//     min-height: 100%

ul
    list-style: none
    padding-left: 0

.no-gutter > [class*="col-"], [class*="col-"].nopadding
    padding-left: 0 !important
    padding-right: 0 !important

.vertical-center
    display table

    .align-item
        display table-cell
        height 100%
        vertical-align middle

.vertical-center-flex
    display: flex
    align-items: center
